In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('repositorio/HIST_PAINEL_COVIDBR.zip', compression='zip', sep=';')

In [13]:
# df['casosNovos1000hab'] = df['casosNovos'] * 1000 / df['populacaoTCU2019']
# df['obitosNovos1000hab'] = df['obitosNovos'] * 1000 / df['populacaoTCU2019']
# df['casosAcumulado1000hab'] = df['casosAcumulado'] * 1000 / df['populacaoTCU2019']
# df['obitosAcumulado1000hab'] = df['obitosAcumulado'] * 1000 / df['populacaoTCU2019']

In [4]:
df

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0.0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1.0,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1.0,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1.0,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2.0,1,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2501320,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-06-10,23,3015268.0,414053.0,631,8898,30,NaN,NaN,1.0
2501321,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-06-11,23,3015268.0,414875.0,822,8923,25,NaN,NaN,1.0
2501322,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-06-12,23,3015268.0,416129.0,1254,8937,14,NaN,NaN,1.0
2501323,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-06-13,24,3015268.0,417279.0,1150,8955,18,NaN,NaN,1.0
2501324,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-06-14,24,3015268.0,418089.0,810,8976,21,NaN,NaN,1.0

In [46]:
df[df.casosNovos == df.casosNovos.min()]

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
2264374,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2021-06-04,22,3984.0,337.0,-47815,8,-1134,NaN,NaN,0.0

In [48]:
df[df.municipio == 'Munhoz de Melo'].sort_values(by='casosNovos')

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
2264374,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2021-06-04,22,3984.0,337.0,-47815,8,-1134,NaN,NaN,0.0
2264364,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2021-05-25,21,3984.0,331.0,-64,7,1,NaN,NaN,0.0
1354338,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2020-08-11,33,3984.0,51.0,-2,0,0,NaN,NaN,0.0
1354381,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2020-09-23,39,3984.0,72.0,-1,0,0,NaN,NaN,0.0
531982,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2020-03-27,13,3984.0,0.0,0,0,0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2264272,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2021-02-22,8,3984.0,165.0,11,1,0,NaN,NaN,0.0
2264274,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2021-02-24,8,3984.0,183.0,14,1,0,NaN,NaN,0.0
2264290,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2021-03-12,10,3984.0,242.0,20,2,0,NaN,NaN,0.0
2264363,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2021-05-24,21,3984.0,395.0,68,6,-1,NaN,NaN,0.0
2264373,Sul,PR,Munhoz de Melo,41,411630.0,41015.0,15ª RS MARINGA,2021-06-03,22,3984.0,48152.0,47815,1142,1134,NaN,NaN,0.0

In [27]:
municipios = ['Jataí', 'Goiânia', 'Catalão', 'Campinas', 'Bauru', 'Limeira', 'Botucatu']
df_modelo = df.query('municipio in @municipios').copy()
df_modelo

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
429874,Sudeste,SP,Bauru,35,350600.0,35062.0,BAURU,2020-03-27,13,376818.0,0.0,0,0,0,NaN,NaN,0.0
429875,Sudeste,SP,Bauru,35,350600.0,35062.0,BAURU,2020-03-28,13,376818.0,0.0,0,0,0,NaN,NaN,0.0
429876,Sudeste,SP,Bauru,35,350600.0,35062.0,BAURU,2020-03-29,14,376818.0,0.0,0,0,0,NaN,NaN,0.0
429877,Sudeste,SP,Bauru,35,350600.0,35062.0,BAURU,2020-03-30,14,376818.0,0.0,0,0,0,NaN,NaN,0.0
429878,Sudeste,SP,Bauru,35,350600.0,35062.0,BAURU,2020-03-31,14,376818.0,1.0,1,0,0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2481685,Centro-Oeste,GO,Jataí,52,521190.0,52016.0,SUDOESTE II,2021-06-10,23,100882.0,10088.0,60,311,1,NaN,NaN,0.0
2481686,Centro-Oeste,GO,Jataí,52,521190.0,52016.0,SUDOESTE II,2021-06-11,23,100882.0,10329.0,241,317,6,NaN,NaN,0.0
2481687,Centro-Oeste,GO,Jataí,52,521190.0,52016.0,SUDOESTE II,2021-06-12,23,100882.0,10384.0,55,319,2,NaN,NaN,0.0
2481688,Centro-Oeste,GO,Jataí,52,521190.0,52016.0,SUDOESTE II,2021-06-13,24,100882.0,10385.0,1,319,0,NaN,NaN,0.0
2481689,Centro-Oeste,GO,Jataí,52,521190.0,52016.0,SUDOESTE II,2021-06-14,24,100882.0,10384.0,-1,319,0,NaN,NaN,0.0

In [20]:
#df_modelo.to_csv('./dados-modelo.csv', sep=';', index=False)

In [28]:
df_modelo.semanaEpi.unique()

array([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
       30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
       47, 48, 49, 50, 51, 52, 53,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
       11, 12])

In [29]:
df_modelo.loc[:, 'data'] = pd.to_datetime(df_modelo.data)

In [30]:
df_modelo.dtypes

regiao                            object
estado                            object
municipio                         object
coduf                              int64
codmun                           float64
codRegiaoSaude                   float64
nomeRegiaoSaude                   object
data                      datetime64[ns]
semanaEpi                          int64
populacaoTCU2019                 float64
casosAcumulado                   float64
casosNovos                         int64
obitosAcumulado                    int64
obitosNovos                        int64
Recuperadosnovos                 float64
emAcompanhamentoNovos            float64
interior/metropolitana           float64
dtype: object

In [35]:
df_modelo['casosNovos1000hab']      = df_modelo['casosNovos'] * 1000 / df_modelo['populacaoTCU2019']
df_modelo['obitosNovos1000hab']     = df_modelo['obitosNovos'] * 1000 / df_modelo['populacaoTCU2019']
df_modelo['casosAcumulado1000hab']  = df_modelo['casosAcumulado'] * 1000 / df_modelo['populacaoTCU2019']
df_modelo['obitosAcumulado1000hab'] = df_modelo['obitosAcumulado'] * 1000 / df_modelo['populacaoTCU2019']

In [43]:
df_modelo[df_modelo['municipio'] == 'Jataí'].casosAcumulado#.casosNovos.sum()

699241         0.0
699242         2.0
699243         2.0
699244         2.0
699245         2.0
            ...
2481685    10088.0
2481686    10329.0
2481687    10384.0
2481688    10385.0
2481689    10384.0
Name: casosAcumulado, Length: 445, dtype: float64